@import '~react-toastify/dist/ReactToastify.css';
@import './styles/modal.scss';
@import './styles/season.scss';



@font-face {
  font-family: "Clear Sans";
  src: url("../src/clear-sans.ttf") format("truetype");
}

body {
  display: flex;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(87,64,124,1) 47%, rgba(0,212,255,1) 100%);
  color: white;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Clear Sans", sans-serif;
  font-size: 21px;
}


/* Main title with shadow and animation */
.main-title {
  font-size: 3rem; /* Adjust as needed */
  text-align: left;
  margin-left: 70px;
}


.title-2048 {
  font-size: 4rem; /* Adjust as needed */
  color: #5b71cd; /* Text color */
}

.text {
  order: 2;
  padding-top: 40px;
  width: 440px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center; /* 子元素水平居中对齐 */
  align-items: flex-start; /* 子元素垂直对齐到顶部 */
  padding: 20px;
  max-width: 1200px; /* 减小最大宽度以使区域更靠近中间 */
  margin: 0 auto; /* 在页面中水平居中 */
}

.game-container {
  flex: 2;
  /* 设置容器的宽度，根据需要调整 */
  max-width: 50%; /* 减小宽度使其更靠近中间 */
}

.info-container {
  flex: 1.5; /* 增加比例，使info-container占据更大的空间 */
  width: 50%; /* 调整宽度 */
  padding: 10px;
  border-left: 2px solid #ccc; /* 为两个区域之间添加边框 */
  max-width: 40%; /* 调整最大宽度 */
}


.board {
  order: 1;
  width: 440px;
  height: 440px;
  padding: 5px;
  background-color: #57407c;
  border-radius: 7px;
  outline: none;
  position: relative;
}

.board .cell,
.tile {
  user-select: none;
  cursor: default;
}

.details-box {
  // order: 1;
  width: 440px;
  display: flex;
  align-items: center;
  // padding: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: space-between;
}

.resetButton {
  background-color: #76d338;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 7px;
  transition: color 0.3s ease, background-color 0.3s ease;
  &:hover {
    background-color: #76d338;
    color: rgba(255, 255, 255, 1);
  }

  &:disabled {
    cursor: not-allowed;
    // pointer-events: none; /* 禁用点击事件 */
  }
}

/* 状态为 disabled 时的样式 */
.resetButton.disabled {
  background-color: #6c757d; /* 禁用时的背景色 */
  cursor: not-allowed; /* 鼠标指针变成禁止图标 */
  opacity: 0.6; /* 禁用时的透明度 */
}

/* 禁用状态下的悬浮效果 */
.resetButton.disabled:hover {
  background-color: #6c757d; /* 禁用状态下悬浮时保持背景色不变 */
}

.saveButton {
  background-color: #3864d3;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 7px;
  transition: color 0.3s ease, background-color 0.3s ease;
  &:hover {
    background-color: #3864d3;
    color: rgba(255, 255, 255, 1);
  }

  &:disabled {
    cursor: not-allowed;
    // pointer-events: none; /* 禁用点击事件 */
  }

}

/* 状态为 disabled 时的样式 */
.saveButton.disabled {
  background-color: #6c757d; /* 禁用时的背景色 */
  cursor: not-allowed; /* 鼠标指针变成禁止图标 */
  opacity: 0.6; /* 禁用时的透明度 */
}

/* 禁用状态下的悬浮效果 */
.saveButton.disabled:hover {
  background-color: #6c757d; /* 禁用状态下悬浮时保持背景色不变 */
}



.endButton {
  background-color: #d3386a;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 7px;
  transition: color 0.3s ease, background-color 0.3s ease;
  &:hover {
    background-color: #d3386a;
    color: rgba(255, 255, 255, 1);
  }

  &:disabled {
    cursor: not-allowed;
    // pointer-events: none; /* 禁用点击事件 */
  }
}

.endButton.disabled {
  background-color: #6c757d; /* 禁用时的背景色 */
  cursor: not-allowed; /* 鼠标指针变成禁止图标 */
  opacity: 0.6; /* 禁用时的透明度 */
}

/* 禁用状态下的悬浮效果 */
.endButton.disabled:hover {
  background-color: #6c757d; /* 禁用状态下悬浮时保持背景色不变 */
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #bbada0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 400px; /* 这里设置为你想要的宽度 */
  max-width: 80%; /* 防止窗口太大时弹框超出屏幕 */
}

.close-button {
  font-family: 'Clear Sans', 'Arial', sans-serif; /* 与游戏风格一致的字体 */
  font-size: 22px; /* 增大字体尺寸 */
  font-weight: bold;
  margin-top: 20px;
  background: #8f7a66;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


.game-button {
  background: linear-gradient(135deg, #f2b632, #f9a800); /* 渐变色背景 */
  color: #fff; /* 白色字体 */
  font-family: 'Clear Sans', 'Arial', sans-serif; /* 与游戏风格一致的字体 */
  font-size: 30px; /* 增大字体尺寸 */
  font-weight: bold;
  display: flex; 
  justify-content: center; /* 水平居中对齐 */
  align-items: center; /* 垂直居中对齐 */
  order: 1;
  width: 420px;
  height: 50px;
  padding: 10px 10px;
  // margin-top: 10px;
  margin-bottom: 30px;
  border: none;
  border-radius: 8px; /* 圆角按钮 */
  box-shadow: 0px 6px 0px #d0a83f; /* 按钮阴影效果 */
  cursor: pointer;
  text-transform: uppercase; /* 使文本全大写 */
  transition: all 0.3s ease;
}

.game-button:hover {
  background: linear-gradient(135deg, #f9a800, #f2b632); /* 悬停时的渐变色变化 */
  box-shadow: 0px 8px 0px #d0a83f;
}

.game-button:active {
  background: linear-gradient(135deg, #f2b632, #f9a800); /* 点击时的渐变色变化 */
  box-shadow: 0px 4px 0px #d0a83f;
  transform: translateY(2px); /* 点击时的按钮视觉反馈 */
}

.info-card {
  order: 1;
  width: 440px;
  // background: #fff; /* 卡片背景颜色 */
  background-color: #5b71cd; /* 2048 游戏风格的背景颜色 */
  color: #333; /* 卡片文字颜色 */
  border-radius: 8px; /* 圆角边框 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 卡片阴影 */
  // padding: 20px;
  margin-top: 20px; /* 与按钮的间距 */
  font-family: 'Clear Sans', 'Arial', sans-serif; /* 与游戏风格一致的字体 */
}

.card-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #bbada0; /* 与按钮风格匹配的颜色 */
}

.card-content {
  font-size: 18px;
  line-height: 1.5;
  padding: 10px;
  position: relative;


   // 新增按钮样式
    // 新增按钮样式
  .action-button {
    background: linear-gradient(135deg, #f2b632, #f9a800); /* 渐变色背景 */
    color: rgba(24, 23, 23, 0.5);
    cursor: pointer;
    font-family: 'Press Start 2P', cursive; /* 游戏风格字体 */

    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px;
    // margin-left: 50px;
    margin-right: 20px;
    border-radius: 7px;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
      background-color: #3864d3;
      color: rgba(255, 255, 255, 1);
    }
  
    &:disabled {
      cursor: not-allowed;
      pointer-events: none; /* 禁用点击事件 */
      opacity: 0.5; /* 禁用状态下的透明度 */
    }
  }
}

.action-button.disabled {
  background-color: #6c757d; /* 禁用时的背景色 */
  cursor: not-allowed; /* 鼠标指针变成禁止图标 */
  opacity: 0.6; /* 禁用时的透明度 */
}

/* 禁用状态下的悬浮效果 */
.action-button.disabled:hover {
  background-color: #6c757d; /* 禁用状态下悬浮时保持背景色不变 */
}


.card-content p {
  margin: 5px 0;
}


.view-rule {
  position: absolute;
  top: 10px; /* 调整图标距离顶部的距离 */
  right: 10px; /* 调整图标距离右边的距离 */
  cursor: pointer; /* 更改鼠标悬停时的样式 */
}

.level-and-button {
  display: flex;
  justify-content: space-between; /* 使子元素（级别和按钮）分布在容器的两端 */
  align-items: center; /* 垂直居中对齐 */
  margin-top: 10px; /* 可选：增加顶部间距以与其他内容分开 */

}

.thumbnail-list {
  display: flex;
  margin-top: 20px;
  gap: 10px; /* 缩略图之间的间距 */
  overflow-x: auto; /* 如果缩略图超过容器宽度，允许横向滚动 */
}

.thumbnail-item img {
  width: 90px; /* 每个缩略图的宽度 */
  height: 90px; /* 每个缩略图的高度 */
  object-fit: cover; /* 保持图片比例 */
  border-radius: 8px; /* 可选的圆角 */
}



table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th:first-child, td:first-child {
  width: 70%; /* 增加玩家列的宽度，可以根据需要调整百分比 */
}

th:last-child, td:last-child {
  width: 30%; /* 相应调整分数列的宽度 */
}


.close-button:hover {
  background: #776e65;
}




.score-header {
  font-size: 60%;
}

.score-box {
  background-color: #3d2963;
  color: rgba(255, 255, 255, 0.5);
  min-width: 50px;
  width: 70px;
  padding: 5px 15px;
  border-radius: 7px;
}

.cell,
.tile {
  width: 100px;
  height: 100px;
  margin: 5px;
  line-height: 90px;
  display: inline-block;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 7px;
  font-family: "Clear Sans";
  color: #766;
  background-color: #3d2963;
}

.tile0 {
  background-color: #dcb;
}

.tile2 {
  background-color: #eee;
  background-image: url(./assets/img/2.gif);
}

.tile4 {
  background-color: #eec;
  background-image: url(./assets/img/4.gif);
}

.tile8 {
  color: #ffe;
  background-image: url(./assets/img/8.gif);
}

.tile16 {
  color: #ffe;
  background-image: url(./assets/img/16.gif);
}

.tile32 {
  color: #ffe;
  background-image: url(./assets/img/32.gif);
}

.tile64 {
  color: #ffe;
  background-image: url(./assets/img/64.gif);
}

.tile128 {
  color: #ffe;
  background-image: url(./assets/img/128.gif);
}

.tile256 {
  color: #ffe;
  background-image: url(./assets/img/256.gif);
  font-size: 45px;
}

.tile512 {
  color: #ffe;
  background-image: url(./assets/img/512.gif);
  font-size: 45px;
}

.tile1024 {
  color: #fff;
  background-image: url(./assets/img/1024.gif);
  font-size: 35px;
}

.tile2048 {
  position: absolute;
  background-size: contain;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0px;
  color: #fff;
  background-image: url(./assets/img/2048.gif);
  font-size: 35px;
}

.try-again {
  z-index: 10;
  height: 100px;
  width: 100px;
  background-image: url(./assets/img/try-again.gif);
}

.tile {
  position: absolute;
}

.tile.merged {
  display: none;
}

.tile.merged.isMoving {
  display: inline;
}

.tile.new,
.overlay {
  animation-duration: 0.2s;
  animation-name: newTile;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
  transform: scale(0);
}

@keyframes newTile {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0px;
  right: 0px;
  font-size: 55px;
  font-weight: bolder;
  border-radius: 7px;
}

.tryAgain {
  background-color: #876;
  color: #fff;
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  border: 2px solid white;
}

.gameOver {
  background-size: contain;
  background-image: url(./assets/img/game-over.gif);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  text-align: center;
}

.overlay .message {
  color: #666;
}
